<div class="storyboard" id="board1">
  <div class="scene">
    <!-- add items a la DOM of thrones, items need to be have click handlers and hover css scabalility + animation?-->
  <div class="text-option-display">
    
  </div>

    <div id="container1" class="image-div">
      <%= image_tag("hbehance.png", :id =>"first-image", :alt => "first symbol") %>
    </div>

    <div id="container2" class="image-div">
      <%= image_tag("hgoogle.png", :id =>"second-image", :alt => "first symbol") %>

    </div>

    <div id="container3" class="image-div">
      <%= image_tag("hinfinity.png", :id =>"third-image", :alt => "first symbol") %>

    </div>

    <div id="container4" class="image-div">
      <%= image_tag("htwitter.png", :id =>"fourth-image", :alt => "first symbol") %>

    </div>

  </div>


</div>
