*{
  box-sizing: border-box;
}

.storyboard,
.scene {
  height: 40rem;
  border: 5px solid black;
  display: block;
  border-radius: 5rem;

}
.storyboard{
  width: 80%;
  position: relative;
  border: groove 5px gray;
  background-color: #343434;
  margin: 2% auto;
}

.scene {
  position: relative;
  align-self: center;
  height: 90%;
  margin: 2%;
  width: 95%;
  left: 0;
  top: 0;
  background-image: asset_url("cityscape.jpeg");
  background-size: cover;
}

.image-div{
  position: absolute;
  bottom: 10%;
  width: 60px;
  height: 60px;
  // border: 5px solid red;
  background-color: rgba(256,256,256,0.5);
  border-radius: 3rem;
}

img {
  position: absolute;
  width: 100%;
  transition: transform all 3s;
  opacity: 1;
}

.image-div:hover {
  transform: scale(2);

}

.text-option-display,{
  position: absolute;
  width: 80%;
  height: 30%;
  top: 20%;
  left: 10%;
  border: 5px solid red;
  background-color: rgba(256,256,256,0.5);
  border-radius: 5rem;
  text-align: center;
}

.text-selections{
  display: none;
  font-size: 3rem;
}
